.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 23%, 0.8);
  z-index: 1200;
}

.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.CharacterDescription {
  text-align: right;
  padding: 5px;
  width: 800px;
  background-color: rgb(77, 76, 76);
}
.CharacterDescriptionCenter {
  text-align: right;
}

.BtnClose {
  position: relative;
  left: 330px;
  bottom: 310px;
  font-size: 18px;
  width: 30px;
  height: 30px;
}
