.CharacterList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 18px;
}

.BtnCenter {
  display: flex;
  justify-content: center;
  align-items: "center";
}

.pageCount {
  padding: 20px;
}
